body {
    background-color: aqua;
}


h1 {
    color: brown;
    font-size: 20px;
}
img {
    border: 5px solid;
    border-radius: 20px;
}
div {
    background-color: aliceblue;
    border: 5px solid;
    border-radius: 20px;
    height: 100px;
    width: 400px;
}
p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}