body {
    background-image: url(16.gif);

}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;

}
tr {
    padding: 20px; 
}

h1 {
    color: brown;
    font-size: 20px;
}
img {
    border: 5px solid;
    border-radius: 20px;
}
div {
    background-color: aliceblue;
    border: 5px solid;
    border-radius: 20px;
    height: 100px;
    width: 400px;
}
p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}